.card {
  background: #ffffff;
  border: 1px solid #dde3ed;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  height: auto;
  width: 328px;
}

.card-image {
  border-radius: 8px 8px 0 0;
  height: 192px;
  position: relative;
}

.card-title {
  border-radius: 0 0 8px 8px;
  padding: 10px;
}

.title {
  color: #060b25;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
}

.text {
  color: #58606e;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.2px;
  width: 100%;
}

.price {
  background: #1f61f7;
  border-radius: 4px;
  bottom: 0;
  color: #f5f7fa;
  font-weight: 600;
  font-size: 14px;
  height: 20px;
  left: 8px;
  line-height: 21px;
  letter-spacing: -0.2px;
  padding: 0 5px;
  position: absolute;
  text-align: center;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 310px;
  }
}
